.IFMASA-Leadership-container {
    background-image: url('/public/images/img-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 2rem auto;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .IFMASA-Leadership {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .IFMASA-Leadership >h1 {
  height: 120vh;
  width:  100%;
  align-items: center;
  justify-content: center;
  font-size: 45px ;
  margin-top: -100px;
}
  
  .IFMASA-Leadership-paragraph {
    margin-bottom: 2rem;
  }
  
  .IFMASA-Leadership-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .IFMASA-Leadership-member {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .IFMASA-Leadership-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem auto;
  }
  
  .IFMASA-Products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    margin: 1rem auto;
  }
  
  .IFMASA-Leadership-member p {
    margin-bottom: 0.5rem;
  }
  